!! Font settings
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!! Color definitions
*.foreground:   #77b9aa
*.background:   #000003
*.cursorColor:  #77b9aa

! black
*.color0:       #000003
*.color8:       #538176

! red
*.color1:       #10615e
*.color9:       #10615e

! green
*.color2:       #0c5075
*.color10:      #0c5075

! yellow
*.color3:       #017174
*.color11:      #017174

! blue
*.color4:       #019057
*.color12:      #019057

! magenta
*.color5:       #07a853
*.color13:      #07a853

! cyan
*.color6:       #3abf4d
*.color14:      #3abf4d

! white
*.color7:       #77b9aa
*.color15:      #77b9aa


